{{- $email := promptStringOnce . "email" "email" -}}
{{- $gpgEmail := promptStringOnce . "gpg.email" "gpg email" "j@ckjennin.gs" -}}
{{- $isWork := promptBoolOnce . "work.enabled" "Is this a work computer" -}}
{{- $workUsername := "" -}}
{{- $workEmail := "" -}}
{{- if $isWork -}}
{{-   $workUsername = promptStringOnce . "work.username" "Work GitHub username" -}}
{{-   $workEmail = promptStringOnce . "work.email" "Work email" -}}
{{- end -}}
[data]
    name = "Jack Jennings"
    email = "{{ $email }}"
    code_directory = "code"
    zsh_custom_directory = ".oh-my-zsh-custom"

[data.features]
    asdf = false

[data.github]
    username = "jackjennings"
    email = "j@ckjennin.gs"

[data.gpg]
    email = "{{ $gpgEmail }}"

[data.onepassword]
    account_id = "EHM4KN6Z35BHJNTV3VFWRLZHUU"
{{ if $isWork }}
[data.work]
    username = "{{ $workUsername }}"
    email = "{{ $workEmail }}"
{{ end -}}

[diff]
    exclude = ["externals"]
