{{- $email := promptString "email" -}}
[data]
    name = "Jack Jennings"
    email = "{{ $email }}"
    code_directory = "code"
    zsh_custom_directory = ".oh-my-zsh-custom"

[diff]
    exclude = ["externals"]
