[credential "https://github.com"]
	helper = !~/.config/git/bin/git-credential-gh

[credential "https://gist.github.com"]
	helper = !~/.config/git/bin/git-credential-gh

[user]
	email = {{ .email }}
	name = Jack Jennings

[init]
	defaultBranch = main

[pull]
	ff = only

[push]
	default = current

[alias]
	base-branch = "!f() { git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'; }; f"
	clone-org = "!~/.config/git/bin/git-clone-org"
	fp = "push --force --no-verify"
	ir = "!f() { sha=$(git log $(git base-branch)..$(git rev-parse --abbrev-ref HEAD) --format=format:%H | tail -1); git rebase -i "$sha"~; }; f"
	remain = "!f() { branch=$(git base-branch); git fetch origin $branch && git rebase origin/$branch; }; f"
	sm = "commit --all --amend --no-verify --no-edit"
	start = "!~/.config/git/bin/git-start"
	main = "!f() { git checkout main && git pull origin main; }; f"

[url "git@github.com:"]
	insteadOf = https://github.com/

[tag]
	sort = version:refname

[column]
	ui = auto

[branch]
	sort = -committerdate

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[help]
	autocorrect = prompt

[rerere]
	enabled = true
	autoupdate = true

{{ if ne .email .github.email -}}
[includeIf "gitdir:~/{{ .code_directory }}/{{ .github.username }}/"]
	path = ~/.config/git/jackjennings.gitconfig

[includeIf "gitdir:~/.local/share/chezmoi/"]
	path = ~/.config/git/jackjennings.gitconfig

{{ end -}}

; The GPG setup script in dotfiles writes this configuration file
[include]
	path = ~/.config/git/gpg.gitconfig

; Machine-specific or workplace-specific config belongs in ~/.gitconfig.local (not tracked by chezmoi)
[include]
	path = ~/.gitconfig.local
