[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential

[user]
	email = {{ .email }}
	name = Jack Jennings

[init]
	defaultBranch = main

[pull]
	ff = only

[push]
	default = current

[alias]
	remain = !git fetch origin main && git rebase origin/main
	start = "!f() { git checkout -b "$(whoami)/${1}"; }; f"
	clone-org = "!f() { gh repo list ${1} --no-archived --json nameWithOwner,pushedAt --jq 'sort_by(.pushedAt) | reverse[:50] | .[].nameWithOwner' -L 5000 | xargs -L1 -I'{}' gh repo clone '{}' }; f"
