#!/bin/bash

set -e

{{ if .work -}}
gpg-setup-key "{{ .work.email }}" "{{ .work.username }}" > /dev/null
{{ end -}}
gpg-setup-key "{{ .github.email }}" "{{ .github.username }}" > /dev/null

mkdir -p ~/.config/git
cat > ~/.config/git/gpg.gitconfig <<EOF
[include]
	path = ~/.config/git/gpg-{{ .email }}.gitconfig

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[includeIf "gitdir:~/{{ .code_directory }}/{{ .github.username }}/"]
	path = ~/.config/git/gpg-{{ .github.email }}.gitconfig

[includeIf "gitdir:~/.local/share/chezmoi/"]
	path = ~/.config/git/gpg-{{ .github.email }}.gitconfig
EOF
