#!/bin/sh

# Brewfile hash: {{ include "Brewfile.tmpl" | sha256sum }}
# Features hash: {{ .features | toJson | sha256sum }}
brew bundle --file "{{ .chezmoi.homeDir }}/Brewfile"
brew cleanup

# These CLIs are quarantined and need this attribute removed to launch
/usr/bin/xattr -rd com.apple.quarantine $(which op)
/usr/bin/xattr -rd com.apple.quarantine $(which slack)
