#!/bin/bash
# gpg-setup-key checksum: {{ include "dot_local/bin/executable_gpg-setup-key" | sha256sum }}

set -e

gpg-setup-key "{{ .email }}" > /dev/null

mkdir -p ~/.config/git
cat > ~/.config/git/gpg.gitconfig <<EOF
[include]
	path = ~/.config/git/gpg-{{ .email }}.gitconfig

[commit]
	gpgsign = true

[tag]
	gpgsign = true
EOF
