#!/bin/sh

# Brewfile hash: {{ include "Brewfile" | sha256sum }}
brew bundle
brew cleanup

# op is quarantined and needs this attribute removed to launch
/usr/bin/xattr -rd com.apple.quarantine $(which op)
