#!/bin/bash
# gpg-setup-key checksum: {{ include "dot_local/bin/executable_gpg-setup-key" | sha256sum }}

set -e

KEY_ID=$(gpg-setup-key "{{ .email }}")

mkdir -p ~/.config/git
cat > ~/.config/git/gpg.gitconfig <<EOF
[user]
	signingkey = $KEY_ID

[commit]
	gpgsign = true

[tag]
	gpgsign = true
EOF
