#!/bin/sh

# Brewfile hash: {{ include "Brewfile" | sha256sum }}
brew bundle --file "{{ .chezmoi.sourceDir }}/Brewfile"
brew cleanup

# These CLIs are quarantined and need this attribute removed to launch
/usr/bin/xattr -rd com.apple.quarantine $(which op)
/usr/bin/xattr -rd com.apple.quarantine $(which slack)
