#!/bin/sh

OP_PGP_PASSPHRASE_ITEM="op://Personal/PGP Passphrase/password"
OP_ACCOUNT="{{ .onepassword.account_id }}"

op_read_passphrase() {
  op read "$OP_PGP_PASSPHRASE_ITEM" --account "$OP_ACCOUNT"
}

read_passphrase() {
  op_read_passphrase 2>/dev/null && return
  op signin --account "$OP_ACCOUNT" >/dev/null 2>&1
  op_read_passphrase
}

echo "OK"
while read cmd rest; do
  case "$cmd" in
    \#*)
      echo "OK"
      ;;
    GETPIN)
      echo "D $(read_passphrase)"
      echo "OK"
      ;;
    BYE)
      echo "OK"
      exit 0
      ;;
    *)
      echo "OK"
      ;;
  esac
done
